{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MySite/style.css' %}" />
<p id="menu">RANDOM QUESTION SITE   <a href="{% url 'mysite:index' %}"><h4>Home</h4></a></p>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mysite:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_test }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>