// Place all the styles related to the MyPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background-color: #222222;
}

#page{
height:95%;
}

footer{

padding-top: 25px;

}

